.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.repo-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
